html,
body {
	padding: 0;
	margin: 0;
	font-family: arial, sans-serif;
}

.grid-container {
	border: solid 4px #000;
	display: inline-grid;
	/* the 1em things here are the gutters: */
    grid-template-columns: 6em 1em 6em 1em 6em 1em 6em;
}

.grid-item {
    background-color: #A62E5C;
	color: #fff;
    box-sizing: border-box;
	font-size: 1.2em;
	padding: 1em;
    overflow: hidden;
	text-align: center;
    /* grid-column-start: 1;
	grid-column-end: 2; */
	/* placing the item into the first gutter: */
    /* grid-column-start: 2;
	grid-column-end: 3; */
	/* Placing the item into the 2nd column: */
    /* grid-column-start: 3;
	grid-column-end: 4; */
	/* Item spans two columns: */
    grid-column-start: 3;
    grid-column-end: 6;
}

.grid-item strong {
	display: block;
	font-size: 130%;  
}	